.App {
  display: flex;
  text-align: center;
  background-color: #222323;
  min-height: 100vh;
}

main{
  width: calc(100% - 320px);
}




@media(max-width: 1199px){
  .App {
     display: block;
  }
  main{
    width:100%;
  }
}

